@import './variables';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

button, a, input {
    outline: none;
}

a {
    text-decoration: none;
}

h1, input, a, p {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h1 {
    font-size: $h1-font-size;
    letter-spacing: $h1-letter-spacing;
}

a, p, input {
    font-size: $basic-text-font-size;
}

a, p {
    letter-spacing: $text-letter-spacing;
}