@import './variables';

#map {
	height: 500px;
}

.bk-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.bk-heading-container {
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: $header-background-color;

	.bk-heading {
		display: flex;
		flex-direction: row;
		height: 100%;

		.bk-heading-item {
			flex-grow: 1;
			flex-basis: 0;

			&:first-child {
				margin: 30px 0px 0px 30px;
			}

			&:last-child {
				margin: 30px 30px 0px 0px;
			}

			.bk-header {
				text-align: center;

				h1 {
					text-transform: uppercase;
					letter-spacing: 0.5em;
				}
			}
		}
	}

	& + .bk-section {
		position: relative;
		top: 75px;
	}
}

.bk-button-icon {
	font-size: 20px;
	width: $button-icon-size;
	height: $button-icon-size;

	&:focus, &:active {
		.bk-icon {
			color: $focus-color;
		}
	}               
}

.bk-button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;

	&:hover, &:focus, &:active {
		border-radius: $button-border-radius;
		background-color: $base-hover-color;
	}
}

.bk-nav-container {
	bottom: 0px;
	position: relative;

	.bk-nav-control {
		position: relative;

		& + .bk-nav {
			position: absolute;

			&.bk-nav-hidden {
				display: none;
			}

			.bk-nav-list {
				list-style: none;
				display: flex;
				flex-direction: column;
				background-color: $nav-list-background-color;
				padding: 0px;
				width: 250px;
				box-shadow: 0 1px 2px rgba(0,0,0,0.15);
				margin: 0;
			
				.bk-nav-list-item {
					height: 35px;
					display: flex;

					&:last-child {
						border-bottom: none;
					}

					&:hover {
						background-color: $base-hover-color;
					}

					a {
						text-decoration: none;
						color: $base-color;
						font-size: 15px;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 0.25em;
						padding: 10px;
						width: 100%;

						&:focus, &:active {
							color: $focus-color;
							background-color: $base-hover-color;
						}
					}
				}
			}
		}
	}
}

.bk-search-container {
	display: flex;
	justify-content: flex-end;

	input {
		border: none;
		padding: 0px;
		margin: 10px 0px 10px 5px;
		font-size: 1em;
		width: $search-field-width;
		border-bottom: 1px solid $base-color;

		&.bk-search-expand-animation {
			width: 0px;
			transition: width 0.5s ease-in-out
		}

		&.bk-search-expanded {
			width: $search-field-width;
		}

		&:focus, &:active {
			border-bottom-color: $focus-color;
		}
	}
}