$base-hover-color: #cacaca40;
$base-color: #212121;
$focus-color: #2196F3;

$nav-list-background-color: #ffffff;
$border-color: #dadada;
$header-background-color: #fdfdfd;
$button-disabled-color: #2121213b;

$button-icon-size: 2em;
$button-border-radius: 20px;
$search-field-width: 250px;
$conqueror-image-size: 100px;


$h1-font-size: 2em;
$h1-letter-spacing: 0.5em;

$basic-text-font-size: 0.75em;

$text-letter-spacing: 0.25em;

$heading-item-first: 0px 0px 0px 30px;
$heading-item-second: 0px 30px 0px 0px;

$heading-container-height: 75px;
$bk-button-icon-font-size: 1.25em;
$bk-nav-list-width: 250px;